<h3>SEARCH CITY</h3>
<br>
<form class="form-inline" method="POST" action="/city/info">
    <div class="form-group">
        <input type="text" name="id" class="form-control" placeholder="Search city by name">
    </div>
    <br>
    <input type="submit" class="btn btn-primary" value="Search">
</form>